{% extends 'main.html' %}

{% block content %}
<div class="{% if messages %}vh-error{% else %}vh-65{% endif %} bg-light d-flex justify-content-center align-items-center">
  <div class="container d-flex text-light justify-content-center align-items-center">
    <div class="col-7 bg-secondary border px-3 py-3">
      <h5>Sua senha foi atualizada com sucesso!</h5>
      <h5>Clique no botão abaixo para acessar a página de login</h5>
      <hr>
      <div class="text-center">
        <a type="button" class="btn btn-primary" href="{% url 'login' %}">Entrar</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}