{% extends 'main.html' %}

{% block content %}

<div class="{% if messages %}vh-error{% else %}vh-65{% endif %} d-flex justify-content-center align-items-center">
  <div class="container d-flex text-light justify-content-center align-items-center">
    <div class="col-8 bg-secondary border px-4 py-3 ">
      <h5>As instruções de redefinição de senha foram enviadas ao e-mail cadastrado.</h5>
      <h5>Caso não tenha recebido o e-mail, confirme suas informações e tente novamente.</h5>
      <hr>
      <div class="d-flex justify-content-center align-items-center">
        <a type="button" class="btn btn-danger" href="{% url 'home' %}">Voltar</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
